body {
    background-color: black;
    color: rgb(255, 136, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nixie One", cursive;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 200px;
    text-shadow: 
        0 0 4px #ff5500,
        0 0 12px #ff3300;
    text-shadow: 0 0 10px #ff5500, 0 0 20px #ff3300;
}

img {
    width: 20px;
}